.toggle__container {
    display: flex;
    border: 1px solid #D1D5DB; 
    border-radius: 8px; 
    overflow: hidden;
    width: 100%;
    margin-bottom: 1.5rem; 
}

.toggle__btn  {
    flex: 1;
    padding: 12px 10px;
    border: none;
    background-color: #ffffff;
    color: #4b5563;
    font-size: 0.875rem; 
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.toggle__btn.active {
    background-color: #3b82f6; 
    color: #ffffff;
}


.toggle__btn:first-of-type {
    border-right: 1px solid #D1D5DB;
}
.toggle__btn.active + .toggle__btn ,
.toggle__btn:first-of-type.active {
    border-right-color: transparent;
}