.campo__texto {
    margin: 1rem 0;
    width: 100%;
}


.campo__texto label {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 1rem;
    font-weight: 500;
}


.campo__texto input {
    width: 100%;
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    padding: 1rem;
    box-sizing: border-box; /* Garante que padding não afete a largura */
}


.campo__texto input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #3b82f6;
}
